# Visual Studio files
.vs/*
*.sln
*.vcxproj*

# Mac files
*.DS_Store
*.Trashes
*.xcworkspace
*.xcodeproj

# Makefiles
*Makefile

# Build results
Binaries/*
Intermediate/*

# Dependencies Project files
Cinder/Dependencies/ProjectFiles/*

# Log files
*/Log.txt

# Render Results
*.png
*.jpg
*jpeg
!SampleProjects/Textures/**