[submodule "External/yaml-cpp"]
	path = External/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
[submodule "External/Assimp"]
	path = External/Assimp
	url = https://github.com/assimp/assimp
[submodule "External/fmt"]
	path = External/fmt
	url = https://github.com/fmtlib/fmt
