# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

[Oo]ut
[Bb]uild
[Cc][Mm]ake

# Log files
*/Log.txt

# Render Results
*Render.png
*Model.png

# Logs
*Log.txt

# Mac files
*.DS_Store
*.Trashes

# Visual Studio
.vs
CMakeSettings.json
.vscode

